/* Add styles here */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Indie Flower', cursive !important;
	background: #ECB6D4;	 
	/* background: #1BBC9B; */
	display: flex;
    flex-direction: column;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 1px;
	font-family: 'Amatic SC', cursive !important;
	text-align: left;
	color: #2B201F;
	padding: 0 0 0 20px;
	transform: rotate(-10deg);
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	/* color: #013243; */
	color: #453332;
	font-weight: 500;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 280px;
	height: 400px;
	background: #e0e1dc;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
	transition: 1s;
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #BAC1BA;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #92A29C;
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: .7s;
	background: #e0e1dc;
}

.card .imgBox p {
	font-size: 14px;
	line-height: 1px;
	font-weight: 800;
	font-family: 'Amatic SC', cursive !important;
	text-align: center;
	color: #878787;
	/* margin: 0 0 -10dvb 0; */
}

.card .bark {
	position: absolute;
	background: #e0e1dc;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .7s;
}

.card .imgBox svg {
	margin: 10dvb 0 0 0;
}

@media only screen and (max-width: 768px) { 
	.card .imgBox svg { 
		margin: 15dvb 0 0 0;
		left: 50%;
		top: 50%; 
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 1366px) { 
	.card .imgBox svg { 
		margin: 5dvb 0 0 0; 
		left: 50%;
		top: 50%;
	}
}


.card .imgBox img {
	min-width: 250px;
	max-height: 400px;
	background: #e0e1dc;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  	box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

.card .details {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	/* margin-top: 70px; */
  	margin-top: 35px;
}

.card .details p {
	font-size: 10px;
	/* column-width: calc(30em * 0.5); */
	line-height: 1.4;
	transform: rotate(-10deg);
	padding: 0 0 0 20px;
}

.card .details h4 {
	text-align: left;
	/* color:#1BBC9B; */
	color: #2B201F;
	padding: 0 0 0 20px;
}

.text-right {
	text-align: right;
	margin-right: 50px;
}

/* Glow */

.glow {
	position: relative;
	&::before {
	  content: "";
	  display: block;
	  border-radius: 50%;
	  width: 100%;
	  padding-bottom: 100%;
	  position: absolute;
	  top: -30%;
	  left: 0;
	  background: #ffac33;
	  z-index: -1;
	  animation: glow 4s infinite;
	}
	&::after {
	  content: "";
	  display: block;
	  border-radius: 50%;
	  width: 100%;
	  padding-bottom: 50%;
	  position: absolute;
	  top: 55%;
	  left: 0;
	  background: rgba(0,0,0,.15);
	  z-index: -1;
	  animation: glow 4s infinite;
	}
  }
  
  @keyframes glow {
	0% {
	  transform: scale(1);
	  opacity: .4;
	}
	50% {
	  transform: scale(1.25);
	  opacity: .2;
	}
	100% {
	  transform: scale(1);
	  opacity: .4;
	}
  }

  svg {
	height: 100%;
	width: 100%;
  }
  
  .center {
	margin: 0 auto;
  }
  
  .large {
	width: 30vmin;
  }